pandas
streamlit==1.11
bokeh
plotly
pybaselines
altair<5
plotly-express
st_pages==0.4.4
streamlit_extras==0.3.6
matplotlib
scikit-learn
hydra-core
omegaconf
torchmetrics
numpy
hydra_colorlog
streamlit_plotly_events
seaborn
